@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Yellowtail&display=swap');

*{
    font-family:'Raleway', sans-serif ;
}
.btn{
    background: transparent;
    border: 3px solid goldenrod;
    border-radius: 30px;
    padding: .7rem 4rem;
    color: white;
    text-transform: capitalize;
    font-weight: bold;
}
.btn:hover{
    background:goldenrod;
    color: white;
}

.intro{
    text-align: center;
    color: #000000;
    text-transform: uppercase;
}
.intro h2{
    font-size: 2.6rem;
    font-weight: bold;
}
.intro hr{
    width: 100px;
    color: black;
    border: 2px solid black;
}
.background{
    background: url(/assets/img/banner.jpg);
    height: 80vh;
    position: relative;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;

}
.dark-bg{
    background: #000000;
    opacity: .5;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
}
/* navbar */
.background nav{
    background: #12122e94 !important;
}
.background nav .navbar-brand{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-transform: capitalize;
}
.background nav li a{
    color: white; 
}
.background nav li a:hover{
    color: goldenrod; 
}
.background nav li a.active{
    color: goldenrod; 
}

.welcome {
    position: absolute;
    top: 250px;
    left: center;
    z-index: 1;
    color: white;
    text-align: center;
}
.welcome h1{
    font-weight: bolder;
    font-size: 3.4rem;
}
.welcome p{
    font-size: 1.8rem;
}

/* client */
.client{
    background: #d3d3d3;
    padding: 1.7rem;
}
.client .container img{
    width: 80px;
    filter:grayscale(100%); 
}
.client .container img:hover{
    filter:grayscale(0%); 
    width: 82px;
    transition: .2s ease;
}
/* about */
#about i{
    color:  #d3d3d3;
    font-size: 3rem;
}


/* countdown */

.countdown{
    background: #d3d3d3;
    padding: 1rem;
    text-align: center;
}
.countdown p{
    font-size: 4rem;
    line-height: 0.7;
}
.countdown span{
    font-size: 1rem;
    text-transform: capitalize;
}

#services .card{
    text-align: center;
}
#services .card i{
    color: #060694;
    background-color:  #d3d3d3;
    border-radius: 50px;
    padding: 2rem;
    font-size: 2rem;
    text-align: center;
    margin-bottom: .5rem;
}
#services .card h3{
    font-size: 2rem;
    text-align: center;
    margin: .5rem 0px;
}

#services .card p{
    text-align: center;
    margin-bottom: 3rem;
}

#services .card:hover i{
    color:  #d3d3d3;
    background-color: #060694;
    transition: .3s ease-in-out;
}

/* cal to action */
.cta{
    background-color: #050531;
    text-align: center;
    color: white;
    padding: 2rem;
    text-transform: capitalize;
}


/* swiper */
.swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }












@media(max-width:400px){

    .background{
        background: url(/assets/img/banner.jpg);
        height: 50vh;
        position: relative;
        z-index: 1;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media(max-width:1350px){
    .welcome {
        position: absolute;
        top: 250px;
        left: 250px;
        z-index: 1;
        color: white;
        text-align: center;
    }
   
}
